$primary:#97A2AF ;
$active:#333333;//高亮字体颜色
$nav-bg:#ffffff;
$bodybg:#F9F9F9;
$inpBg: #E9E9E9;
$bg:#ffffff;
$white:#fff;
$blue:#FB3B5B;
$btnFontColor: #fff;
$btnBgColor: #00C7C6;
$color1:#97A2AF;//普通字体颜色
$color2:#6D7176;
// $color3:#ACB8C7;
$color3:#97A2AF;
$color4:#92D4ED;
$bg2:rgba(50,54,69,0.6);
$border:rgba(0,0,0,0.1);
$border3:rgba(0,0,0,0.1);
$border2:#ffffff;//普通模块背景
$bg3:rgba(0,0,0,0.05);
$bg4:rgba(0,0,0,0.1);
$bg5:rgba(50,54,69,0.8);
$bg6:rgba(0,194,143,0.1);
$inbg:rgba(233,233,233,0.5);
$bg7:#F7F9FC;
$up:#D04F5F;
$down:#3FAE90;
$black:#000000;
$bg9:rgba(233,233,233,0.5);
$color6:#ACB8C7;
